body {
    margin: 0;
    overflow: hidden;
}

main {
    background-color: skyblue;
    width: 100vw;
    height: 100vh;
}

main > img {
    display: block;
    margin: 0 auto;
    width: cal(100vh * (3508 / 2480));
    height: 100%;
}