body {
    margin: 0;
    overflow: hidden;
}

main {
    margin:0;
    background-color: skyblue;
    width: 100vw;
    height:calc(100vh - 65px);
}

main > img {
    display: block;
    margin: 0 auto;
}
header{height: 65px;}
header h1{margin:0; line-height: 65px;}