body {
    margin: 0;
    overflow: hidden;
}

main {
    background-color: skyblue;
    width: 100vw;
    height:calc(100vh - 65px)
}

main > img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
header{height:65px}
header h1{margin:0}